
<ion-content class="login-screen">


  <ion-list class="login-container">


    <ion-item text-center>
      <img src="assets/imgs/logo.png" class="login-logo">
    </ion-item>

    <ion-item class="login-item">
      <ion-label class="login-label" floating>Dirección de email</ion-label>
      <ion-input class="login-input" type="text"></ion-input>
    </ion-item>

    <ion-item class="login-item">
      <ion-label class="login-label" floating>Password</ion-label>
      <ion-input type="password" class="login-input"></ion-input>
    </ion-item>

    <button ion-button full (click)=doLogin()>Iniciar Sesion</button>

  </ion-list>

  <ion-list class="login-subcontainer">

    <!--<ion-item text-center>-->
      <!--<a href="#" [navPush]=RegisterP class="login-anchor">¿Aún no tenés cuenta?</a>-->
    <!--</ion-item>-->

    <button ion-button [navPush]="registerPage" block class="login-button" color="mainred">Registrarse</button>

    <button ion-button block class="login-button" color="facebook">Ingresar con Facebook</button>

  </ion-list>


</ion-content>
