<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Registrarme</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <ion-list class="register-container">


    <ion-item text-center>
      <img src="assets/imgs/logored.png" class="register-logo">
    </ion-item>

    <ion-item class="login-item">
      <ion-label class="login-label" floating>Email</ion-label>
      <ion-input class="login-input" type="text"></ion-input>
    </ion-item>

    <ion-item class="login-item">
      <ion-label class="login-label" floating>Contraseña</ion-label>
      <ion-input type="password" class="login-input"></ion-input>
    </ion-item>

    <ion-item class="login-item">
      <ion-label class="login-label" floating>Confirmar contraseña</ion-label>
      <ion-input type="password" class="login-input"></ion-input>
    </ion-item>

    <ion-item class="login-item">
      <ion-label class="login-label" floating>Nombre de Usuario</ion-label>
      <ion-input class="login-input" type="text"></ion-input>
    </ion-item>

    <ion-item class="login-item">
      <h2>Fecha de nacimiento</h2>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <ion-input class="login-input" placeholder="Día" clearInput></ion-input>
        </ion-col>
        <ion-col col-6>
          <ion-input class="login-input" placeholder="Mes" clearInput></ion-input>
        </ion-col>
        <ion-col col-3>
          <ion-input class="login-input" placeholder="Año" clearInput></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4>
          <ion-radio color="mainred" value="friends" checked></ion-radio> Masculino
        </ion-col>
        <ion-col col-4>
          <ion-radio color="mainred" value="friends"></ion-radio> Femenino
        </ion-col>
      </ion-row>
    </ion-grid>

    <p>Al hacer click en Registrarse, aceptas los términos y condiciones y la política de privacidad de Hi Menu</p>

    <ion-row center>
      <ion-col text-center>
        <button ion-button class="register-button" color="mainred" [navPush]="mainPage">Registrarse</button>
      </ion-col>
    </ion-row>

  </ion-list>

</ion-content>
