<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Main Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
This is my Tab1 content
</ion-content>
